@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

.contact-map{
    background-color: rgba(77,184,255,0.8);
    min-height: 400px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:  center;
}
.contact{
    border:1px solid #fff;
    padding: 10px;
}
.contact h1, p, label{
    color:#fff;
}
.contact h1{
    font-family: 'ZCOOL XiaoWei', serif;
    color: #ffff4d
}
.message{
    width: 400px;
}
.contact form span{
    color: #ff0000;
}
button{
    border-radius: 3px;
    padding: 5px;
}
.goo-map{
    width: 500px;
    height: 350px;
}
.map p {
    background-color:#007acc
}
@media screen and (max-width:925px){
    .contact-map{
        display: flex;
        flex-direction: column;
    }
    .map{
        padding-top: 10px;
    }
}