
@import url('https://fonts.googleapis.com/css?family=Amiri');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('/img/bk-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -190px;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Amiri', serif;
    background-color: rgba(64, 64, 64,50%);
    height: 150px;
}
.logo{
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 38%;
    font-size: 23px;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    color:#4080bf;
}
.slide{
    display: none;
}
.slide div{
    width:25px;
    height: 4px;
    background-color: #4080bf;
    margin: 5px;
}
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x:hidden;
    }
    .nav-links{
        position:absolute;
        right: 0px;
        height: 92vh;
        top: 13vh;
        background-color: rgba(64, 64, 64,90%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%)
    }
}






