
body{
    background-image: url('/img/bk-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -190px;

}
nav{
    background-color: rgba(64, 64, 64,50%);
    height: 150px;
}
.logo{
    width:150px;
    margin-left: 10px;
    padding-bottom: 30px;
}








