
@import url('https://fonts.googleapis.com/css?family=Amiri');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('/img/bk-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -190px;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Amiri', serif;
    background-color: rgba(64, 64, 64,50%);
    height: 150px;
}
.logo{
    
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 38%;
    font-size: 23px;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    color:#4080bf;
}
.a-hover1:hover{
    color: #b3cce6;
    transition: 0.2s;
}
.a-hover2:hover{
    color: #ffff00;
    transition: 0.2s;
}
.a-hover3:hover{
    color:#59b300;
    transition: 0.2s;
}

.slide{
    display: none;
    cursor: pointer;
}
.slide div{
    width:30px;
    height: 4px;
    background-color: #4080bf;
    margin: 5px;
    transition: all 0.5s ease;
}
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%
    }
}
@media screen and (max-width:768px){
    body{
     overflow-x: hidden;
    }
    .nav-links{
        position:absolute;
        right: 0px;
        height: 92vh;
        top: 13vh;
        background-color: rgba(64, 64, 64,90%);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .slide{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform:translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(+45deg) translate(-5px, -6px);
}
section .name .sec-name{
    color: #4d79ff;
    font-size: 140px;
    letter-spacing: 15px;
    font-family: 'Amiri', serif;
    
}
section .name .sec-name2{
    color: #fff;
    font-size: 190px;
    letter-spacing: 15px;
    font-family: 'Amiri', serif;

}
.name{
    line-height: 105px;
    margin-left: 20%;
    margin-top: 13%
    
}
footer{
    background-color: rgba(64, 64, 64,50%);
}
.social{
    display: flex;
    justify-content: center;
    align-content: flex-end;
    list-style: none;
}






